img {
    max-width: 580px;
    max-height: 580px;
}

.postContainer {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin: auto;
    border: solid rgb(200, 200, 200) 1px;
    max-width: 600px;
    max-height: 660px;
    padding: 30px;
    margin-bottom: 1px;
}
.caption {
    font-size: 14px;
    font-weight: 50%;
}

.topnav {
    background-color: pink;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
   float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #cdcbcb ;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* like btn */
  body{
    margin: 40px;
  }
  
  button{
    cursor: pointer;
    outline: 0;
    color: #AAA;
  
  }
  
  .btn:focus {
    outline: none;
  }
  
  #like{
    color: red;
  }
  
  #dislike{
    color: black;
  }