img {
    max-width: 580px;
    max-height: 580px;
}

.postContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: solid rgb(200, 200, 200) 1px;
    max-width: 600px;
    max-height: 660px;
    padding: 30px;
    margin-bottom: 1px;
}
.caption {
    font-size: 14px;
    font-weight: 50%;
}