@import url('https://fonts.googleapis.com/css?family=Corben:700');
div {
  font-family: Corben, cursive;
}
.button {
    position: fixed left 20px;
    background-color:rgb(35, 35, 35);
    color: #fff;
    border:none; 
    border-radius:1px; 
    padding:1px;
    min-height:30px; 
    min-width: 120px;
  }
      .buttton {
           text-decoration: none;
        color: white;
      }
      .button:hover {
      background-color:rgb(67, 67, 67);
      transition: 0.7s;
  }