body {
    justify-content: center;
    align-items: center;
  }
  .profileImageContainer { 
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    overflow: hidden; 
    padding: 0px 0px 0px 0px;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  .profileImage {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    min-height: 75px;
  }
  .bio {
  }
  .username {
    font-family: arial;
    color: rgb(50, 50, 50);
    margin: auto;
    display: inline-block;
  }
  .profileStats {
   display: flex;
   text-align: center;
  padding: 0px 0px 0px 0px;
   margin: auto;
    background-color: rgb(220,220,220);
    /* max-width: 180px; */
  }
  .group {
  }
  .mr {
    margin-right: 1em;
    font-size: 14px;
  }

  .topnav{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border: 3px solid rgba(164, 164, 164, 0.4);
    color: black;
    margin-left: 12px;
    margin-right: 12px;
    padding: 10px;
  }
  
  .dupe {
    font-family: cursive;
    float: left;
    margin: auto;
}
  
  /* Style the links inside the navigation bar */

  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: right;
  }
  

  .topnav a:hover {
    background-color: #cdcbcb ;
    color: black;
  }
  
 
  .topnav a.active {
    background-color: #04AA6D;
    color: rgb(0, 0, 0);
  }

  img {
    display: flex;
    align-items: center;
    width: 600px;
    height: 600px;
  }
  .posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
  }