<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html {
            background-color: rgb(18, 18, 18);
            color: white;

        }
        .Home {
            text-decoration: none;
            color: rgb(140, 0, 140)
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wrong page go back to <a class="Home" href="/">Home</a></h1>
</body>
</html>