<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
        <form method="POST" action="/comments">
            <div class="comment">
                <label for = "context"></label>
                <input type="text" placeholder="Add a comment" name="context" id="context" required />
                <% if(comments) { %>
                <% comments.forEach(function (comment) { %>
                <h1>
                    <%= comment.user.username %>
                </h1>
                   <%= comment.context %>
                <% }) %>
                <% } %>
                
            </div>
            <button type="submit">Add a Comment</button>
        </form>
   
    
    

</body>
</html>