<!DOCTYPE html>
<html lang="en">
<head>
    <style>
      
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Instadupe</h1>
    
    <div>
        <label for="name">Username</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
   
    <button>Log In</button> <br>
    <h2>or</h2>
    <a href="/login">Sign Up</a>
    
</body>
</html>