<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instadupe</title>
</head>
<body>
  <div class="container">
    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img alt="picture1" src="https://i.imgur.com/X892nfl.jpg" style="max-width: 300px; max-height: 400px; min-width: 300px; min-height: 400px;">
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img alt="picture2" src="https://i.imgur.com/DGBLEha.jpg" style="max-width: 300px; max-height: 400px; min-width: 300px; min-height: 400px;">
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img alt="picture3" src="https://i.imgur.com/1voeyPJ.jpg" style="max-width: 300px; max-height: 400px; min-width: 300px; min-height: 400px;">
        </div>
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>
        </div>
        <br>
    <div class="login">
    <h1>Instadupe</h1>
    <form action="/home" method="POST">
    <div>
        <input placeholder="username" type="text" id="username" name="username" required>
    </div>
    <div>
        <input placeholder="password" type="password" id="password" name="password" required>
    </div>
   <div class="summit">
    <button class="btn" style="text-decoration: none;" type="submit">Log In</button> <br>
</form>
    <button class="btnt"><a style="text-decoration: none; color: white;" href="/signup">Sign Up</a></button>
    </div>
</div>
</div>
<script src="scripts/home.js" ></script>
</body>
</html>